* {
  padding: 0px;
  margin: 0px;
}

body {
  position: relative;
  background-color: #f0c5f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  box-sizing: border-box;

  position: absolute;
  width: 750px;
  height: 450px;
  background: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px 6px rgba(221, 161, 222, 0.55);
  border-radius: 45px;
}

.right {
  position: absolute;
  width: 320px;
  height: 450px;
  margin-left: 430px;

  background: linear-gradient(
    341.26deg,
    #da60dd 25.06%,
    rgba(218, 96, 221, 0) 107.25%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 45px 45px 0px;
}

img {
  position: absolute;
  width: 350px;
  height: 350px;
  margin-top: 35px;
}

/**/

.left {
  position: absolute;
  width: 400px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.left h2 {
  width: 84px;
  height: 42px;
  font-family: "Arsenal";
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 20px;
}

.left input {
  text-align: left;
  padding-left: 20px;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 26px;

  color: #000000;

  width: 251px;
  height: 55px;
  left: calc(50% - 251px / 2 - 157.5px);
  top: 298px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 4px rgba(218, 96, 221, 0.5);
  border-radius: 25px;
  margin-bottom: 20px;
}

.left input::placeholder {
  text-align: left;
  padding-left: 20px;
}

button {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #000000;

  width: 100px;
  height: 40px;
  left: calc(50% - 100px / 2 - 157px);
  top: 460px;

  background: linear-gradient(
    270deg,
    #da60dd -15%,
    rgba(218, 96, 221, 0.765625) 14.41%,
    rgba(218, 96, 221, 0.567708) 39.25%,
    rgba(218, 96, 221, 0.276042) 75.86%,
    rgba(218, 96, 221, 0) 110.5%
  );
  filter: drop-shadow(5px 5px 4px rgba(218, 96, 221, 0.5));
  border-radius: 25px;
  border: 1px;
}

button:hover {
    background: linear-gradient(
    270deg,
    rgb(137, 16, 139) -15%,
    rgba(137, 16, 139, 0.765625) 10.41%,
    rgba(137, 16, 139, 0.567708) 30.25%,
    rgba(137, 16, 139, 0.276042) 70.86%,
    rgba(137, 16, 139, 0) 100.5%
  );
}
