@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 110px;
}

body {
  margin: 0;
  height: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 0 10px;
}

nav a {
  text-decoration: none;
}

.avatar {
  /* Rounded border */
  border-radius: 50%;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Size */
  height: 4rem;
  width: 4rem;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul li:nth-child(2) a {
  color: red;
  margin-left: 10px;
}

.search-box {
  display: flex;

  /* Se você quiser colocar o ícone antes da entrada de texto */
  flex-direction: row-reverse;

  /* Border */
  border: 1px solid #d1d5db;
}

.search-box__input {
  border-color: transparent;
  /* Pegar a largura disponível */
  flex: 1;
}

.user {
  color: white;
  font-size: normal;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#nc {
  width: 134px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 45px;
  text-decoration: none;
  cursor: pointer;
}

#nc:hover {
  background-color: #690561;
}

#c a {
  color: white;
}

#c a:hover {
  color: white;
}

#c {
  width: 170px;
  background-color: #035ad6bd;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 45px;
  text-decoration: none;
  cursor: pointer;
}

#c:hover {
  background-color: #052244;
  color: white;
  /* border: 1px solid; */
}
/**/

.activity {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#table-activity {
  width: 100%;
  border-collapse: collapse;
}

#table-activity th,
#table-activity td {
  padding: 8px;
  text-align: center;
}

#table-activity th {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  background-color: #7260dddb;
  color: rgb(255, 255, 255);
}

#table-activity tbody tr:nth-child(even) {
  background-color: #f5b0f7;
}

#table-activity tbody tr:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

#table-activity a {
  text-decoration: none;
  color: #0366d6;
}

#table-activity a:hover {
  text-decoration: none;
  color: #052244;
}
