.logo {
  width: 110px;
}

body {
  margin: 0;
  height: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #2c2a2a;
  padding: 0 10px;
}

nav a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul li:nth-child(2) a {
  color: red;
  margin-left: 10px;
}

.search-box :hover,
.search-box :focus {
  background-color: white;
}

.search-text {
  margin: 1px solid;
  background-color: #2c2a2a;
  border-radius: 15px;
  box-shadow: none;
  border: 1px solid white;
  padding-left: 10px;
}

.search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}

/**/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#nc {
  width: 134px;
  background-color: #da60dd;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 45px;
  text-decoration: none;
  cursor: pointer;
}

#nc:hover {
  background-color: #690561;
}

#c a {
  color: white;
}

#c a:hover {
  color: black;
}

#c {
  width: 134px;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 45px;
  text-decoration: none;
  cursor: pointer;
}

#c:hover {
  background-color: white;
  color: black;
  border: 1px solid #000000;
}
/**/

.activity {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#table-activity {
  width: 100%;
  border-collapse: collapse;
}

#table-activity th,
#table-activity td {
  padding: 8px;
  text-align: center;
}

#table-activity th {
  font-family: "Anek Malayalam";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  background-color: #da60dd;
  color: rgb(255, 255, 255);
}

#table-activity tbody tr:nth-child(even) {
  background-color: #f5b0f7;
}

#table-activity tbody tr:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

#table-activity a {
  text-decoration: none;
  color: #0366d6;
}

#table-activity a:hover {
  text-decoration: none;
  color: #052244;
}
