.logo {
  width: 110px;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #2c2a2a;
  padding: 0 10px;
}

nav a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul li:nth-child(2) a {
  color: red;
  margin-left: 10px;
}

.search-box :hover,
.search-box :focus {
  background-color: white;
}

.search-text {
  margin: 1px solid;
  background-color: #2c2a2a;
  border-radius: 15px;
  box-shadow: none;
  border: 1px solid white;
  padding-left: 10px;
  color: white;
}

.search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
/**/
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  width: 500px;
  height: 97px;
  background: #da60dd;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(223, 126, 225, 0.765625);
  border-radius: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: 25px;
}

#search-form > div {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#search-form > div label {
  margin-right: 10px;
}

#search-form > div input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  cursor: pointer;
}

#search-form > div button {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}

#search-form > div button:hover {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  color: #da60dd;
  cursor: pointer;
}

/**/
table {
  width: 80%;
  background: linear-gradient(
    180deg,
    #f89dfb 0%,
    #ffffff 110.21%,
    rgba(248, 157, 251, 0) 110.21%,
    rgba(248, 157, 251, 0) 110.21%
  );
  border: 1px solid rgba(0, 0, 0, 0.1);
  filter: drop-shadow(5px 0px 5px rgba(223, 126, 225, 0.765625));
  border-radius: 50px 50px 0px 0px;
  margin: auto;
  margin-top: 30px;
  display: table;
  table-layout: fixed;
}

thead {
  display: table-header-group;
  color: white;
}

tbody {
  display: table-row-group;
  background-color: white;
}

tr {
  display: table-row;
  margin-bottom: 5px;
}

th,
td {
  text-align: left;
  text-align: center;
}

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

th {
  font-family: "Arya";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

td {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 20px;
  color: #000000;
}

table a {
  text-decoration: none;
  color: rgb(183, 0, 255);
}

table a:hover {
  color: red;
}
