* {
  box-sizing: border-box;
}

.logo {
  width: 110px;
}

body {
  margin: 0;
  height: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #2c2a2a;
  padding: 10px;
}

nav a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul li:nth-child(2) a {
  color: red;
  margin-left: 10px;
}

.search-box:hover,
.search-box:focus {
  background-color: white;
}

.search-text {
  margin: 1px solid;
  background-color: #2c2a2a;
  border-radius: 15px;
  box-shadow: none;
  border: 1px solid white;
  padding-left: 10px;
}

.search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.user {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}

.b-cadcan {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.b-cadcan button {
  font-family: "Arya";
  font-style: normal;
  font-size: 18px;
  color: white;
  padding: 8px 12px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 100px;
}

.b-cadcan a {
  text-decoration: none;
  color: white;
}

#cad button {
  background: #03e434;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

#cad button:hover {
  background: #013d0e;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: #013d0e;
  border-radius: 20px;
}

#cancel button {
  background: #ff0000;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

#cancel button:hover {
  background: #630000;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: #630000;
  border-radius: 20px;
}
/**/

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f2f2;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

.left,
.right {
  width: 450px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-center {
  width: 600px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.container label {
  font-family: "Arsenal", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.container header {
  font-family: "Artifika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.container input[type="text"],
.container input[type="date"],
.container select {
  width: 170px;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 2px #da60dd;
  border-radius: 10px;
}

.obs {
  text-align: center;
}

.obs label {
  display: block;
  font-family: "Arsenal", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.obs textarea {
  width: 450px;
  height: 70px;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 2px #da60dd;
  border-radius: 10px;
}

#adicao {
  width: 80px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 2px #da60dd;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
}

.adicao-inputs {
  display: flex;
  gap: 10px;
}

.container input[type="text"]:focus,
.container input[type="date"]:focus,
.container select:focus,
.container textarea:focus {
  outline: none;
  background: #f4f2f2;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 6px 2px #bd0fc0;
  border-radius: 10px;
}

.left-column {
  display: flex;
  flex-direction: row;
}

.l-left,
.r-left {
  flex: 1;
  padding: 0 10px;
}

.right-column {
  display: flex;
  flex-direction: row;
}

.r-left,
.r-right {
  flex: 1;
  padding: 0 10px;
}

.center-column {
  display: flex;
  flex-direction: row;
}

.c-left,
.c-right {
  flex: 1;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .left,
  .right {
    width: 100%;
    align-items: flex-start;
  }

  .form-center {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  form {
    width: 100%;
  }
}
